eslint.config.mjs
.editorconfig
.eslintignore
.gitattributes
.prettierignore
.prettierrc
.gitignore
.github
.travis.yml
.vscode/
src/
test/
docs/
scripts/
tslint.json
tsconfig.buildinfo
*.tsbuildinfo
*.log