{
    "arrowParens": "avoid",
    "singleQuote": true,
    "quoteProps": "preserve",
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
